*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.left-menu{
    position: fixed;
    width: 25%;
    height: 100vh;
    background-color: #fd5304;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.top-left-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: #f2f3f7;
gap: 2rem;
}
.bottom-left-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    color: #ffffff;
gap: 2rem;
}
.profile-photo{
    width: 250px;
    border-radius: 150px;
}
.header{
    width: 75%;
    height: 10vh;
    background-color: #fd5304;
    margin-left: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main1{
    display: flex;
    flex-direction: column;
    min-height: 90hv;
    margin-top: 10vh;
    margin-left: 30%;
    align-items: center;
    color: #000000;
    border-radius: 150px
}
.main2{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 90hv;
    margin-top: 50vh;
    margin-left: 80%;
    align-items: center;
    color: #000000;
}


